.board-list {
    margin: 0 auto;
    width: 25%;
    position: relative;
    list-style: none;

    li {
        margin: 2em 0;
    }

    a {
        display: block;
        text-decoration: none;
        border: 1px solid $fontColor;
        padding: 1em;
        text-align: center;

        &,
        &:visited,
        &:hover,
        &:active {
            color: #fff;
        }

    }
}