.color-blue {
    color: dodgerblue !important;
}
.color-green {
    color: limegreen !important;
}
.color-red {
    color: orangered !important;
}
color-yellow {
    color: gold !important;
}
color-pink {
    color: deeppink !important;
}