/**
 * Forked from the awesome CSShake (https://github.com/elrumordelaluz/csshake)
 * But we removed the vendor prefixing because we use autoprefixer
 */
@mixin shake($x, $y, $rot, $name, $steps:10, $opacity:false) {
    $r:0deg;
    $h:0px;
    $v:0px;

    @keyframes #{$name} {
        $interval: $steps;
        $step: 0%;

        @while $step < 100% {
            @if ($rot != 0deg){ $r : random($rot) - $rot/2;}
            @else { $r : 0deg; }
            @if ($x != 0px){ $h : random($x) - $x/2; }
            @else { $h : 0px; }
            @if ($y != 0px){ $v : random($y) - $y/2; }
            @else { $v : 0px; }

            @if($step == 0%){
                #{$step} {
                    transform: translate(0px, 0px) rotate(0deg);
                    @if($opacity){
                        opacity: random(10)/10;
                    }
                }
            } @else {
                #{$step} {
                    transform: translate($h, $v) rotate($r);
                    @if($opacity){
                        opacity: random(10)/10;
                    }
                }
            }
            $step: $step + $interval;
        }

    }
}


.offline-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    z-index: 999999;

    > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25vh;
        font-weight: bold;
        opacity: 0.2;

        > span {
            animation: offline-shake 100ms infinite ease-in-out;
        }
    }
}

@include shake(3vh, 2vh, 5deg, 'offline-shake', 10);

